#header {
  background-color: #e0ffff;
  border: 4px solid #6d6d6d;
}

#headercol1 {
  color: #2f2f2f;
  vertical-align: middle;
  font-family: fantasy;
  text-align: center;
}

#headercol2 img {
  width: 100%;
  float: right;
  border: 4px solid #6d6d6d;
}

#projects-heading {
  background-color: #e0ffff;
  border: 4px solid #6d6d6d;
}

#projects-body {
  background-color: #f2ffff;
  border: 4px solid #6d6d6d;
}

.section-heading {
  color: #2f2f2f;
  text-align: center;
  vertical-align: middle;
  font-size: 35px;
  font-family: fantasy;
  font-weight: bolder;
  margin: 10px;
  padding: 3px;
}

#projects-body h1 {
  text-align: center;
  font-size: 30px;
  font-family: fantasy;
}

#projects-body img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #6d6d6d;
  padding: 5px;
}

#projects-body p {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-style: italic;
}

#projects-body ul {
  width: 75%;
}

#about-me-heading {
  background-color: #e0ffff;
  border: 4px solid #6d6d6d;
}

#about-me-body {
  background-color: #f2ffff;
  border: 4px solid #6d6d6d;
}

#about-me-body h1 {
  text-align: center;
  font-size: 30px;
  font-family: fantasy;
}

#about-me-body img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #6d6d6d;
  padding: 5px;
  max-width: 400px;
  max-height: 150px;
}

#about-me-body p {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-style: italic;
}

#about-me-body ul {
  width: 90%;
}

#about-me-body li {
  font-style: italic;
}

.thesis {
  font-style: bold;
  font-weight: bolder;
}

.subsection-heading {
  text-align: center;
  font-style: italic;
  font-size: 25px;
}
